#chart {
    margin: 0 auto;
    width: 1200px;
}

#chart svg {
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(161, 161, 161, 0.3);
    margin-right: 40px;
}

#chart .title {
    font-size: 25px;
    fill: #A1A1A1;
}

#chart .legend-header {
    font-weight: bold;
}

#chart .legend-percentage-text {
    fill: #000000;
    font-weight: normal;
}

#chart .legend-amount-text {
    fill: #A1A1A1;
}

#chart .title-amount {
    font-size: 25px;
    font-weight: bold;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

path {
    fill: none;
}

.axis path,
.axis line {
    stroke: grey;
    shape-rendering: crispEdges;
}

.area {
    stroke-width: 0;
    fill-opacity: 0.1;
}

circle {
    fill: none;
    stroke-width: 87px;
    stroke: white;
}
